<div id="ajax"  class="plastic"  style="width:316px">
  <div class="toolbar">
    <span class="story_name" style="text-align:center;top:7px"><h1 id="pageTitle">Comments
      </h1>
    </span>
  </div>

  <ul id="comments" title="Comments" selected="true">
    <%=link_to "Story",{:query =>{:id =>@story_id},:controller=>"Story",:action =>:show},"class=\"back\""%>
    <%@comments.each do |x|%>
      <li>
        <span class="comment_text"><%=x.text%></span>
        <br>
        <span class="comment_author"><%=x.author %> - <%=x.noted_at %></span>
      </li>
    <%end%>
  </ul>
</div>