<div style=" text-align:center;">
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <img  src="/public/images/logokoombea.png"/>
  <br/>
  <br/>
  <% if System::get_property('platform') == 'APPLE' %>
    <img  src="/public/images/ajax-loader.gif"/>
    <br/><br/>
  <%end%>
  <span class="comment_text">
    Please Wait...
  </span>
</div>
