<div id="home" class="background_login" >
  <div class="toolbar">
    <span class="story_name" style="text-align:center;top:7px">
      <h1 id="pageTitle">
        <img  src="/public//images/img/trackrlogo.png"/>
      </h1>
    </span>
  </div>
  <form title="Login to Rhodes"
        class="panel"
        id="user_edit_form"
        method="POST"
        action="<%=url_for(:action => 'do_login')%>" selected="true">

    <% if @msg %>
      <p style="color:#97c43a"><%=@msg %></p>
    <% end %>
    <ul class="edit">
      <br>
      <li class="input1"><input  placeholder="Email or Username" id="username" class="login_login" value="" type="text" name="login" onfocus="$('#token').attr('value', '')"/>
        <br>
        <br>
        <input placeholder="Password"  type="password" value=""  name="password" onfocus="$('#token').attr('value', '')"/></li>
    </ul>
    <ul class="edit">
      <li class="login_token" ><input placeholder="Or login using your token" id="token"  type="text" value="<%= Rho::RhoConfig.pivotal_token%>"  name="token" /></li>
    </ul>
    <p align="center">
      <input class="login" type="submit" value=""/><br/>
      <br/><br/>
      <img  src="/public/images/logokoombea.png"/>
    </p>

  </form>
</div